
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
	<div class="row valign">
		<div class="col-md-4"></div>
	  <div class="col-md-4">
			<h1 class="text-center">#TookMeThere</h1>
			<br />
			<p class="text-center">For the jetsetter, the adventurer, the one with constant wanderlust--see all the places that Uber has taken you.</p>
			<br />

			<p class="text-center"><a class="btn btn-home btn-lg" href="sign-in" role="button">MAP MY TRIPS</a></p>
		</div>
		<div class="col-md-4"></div>
	</div>

</body>
</html>