<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
body {
  background-color: #09091A;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/social.js"></script>
<script type="text/javascript">

// Arrays and Dictionaries

  var tripArray = [];
  var uniqueCityArray = [];
  var countryUrlsArray = [];
  var uniqueCountryUrlsArray = [];
  var countryNamesArray = [];
  var uniqueCountryNamesArray = [];

  var allCountriesUrls = [];
  var allCountriesUrlsDeduped = [];
  var notVisitedCountriesUrls = [];

  var mapCities = [
    {city: "Abilene", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Abu Dhabi", country: {name: "United Arab Emirates", url: "/images/stamps/united_arab_emirates.png"}},
    {city: "Adelaide", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Ahmedabad", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Ajmer", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Akron", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Albuquerque", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Amarillo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Ames", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Amsterdam", country: {name: "Netherlands", url: "/images/stamps/netherlands.png"}},
    {city: "Amman", country: {name: "Jordan", url: "/images/stamps/jordan.png"}},
    {city: "Ann Arbor", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Asheville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Athens", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Athens, GR", country: {name: "Greece", url: "/images/stamps/greece.png"}},
    {city: "Atlanta", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Auckland", country: {name: "New Zealand", url: "/images/stamps/new_zealand.png"}},
    {city: "Augusta", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Austin", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Bakersfield", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Baku", country: {name: "Azerbaijan", url: "/images/stamps/azerbaijan.png"}},
    {city: "Bali", country: {name: "Indonesia", url: "/images/stamps/indonesia.png"}},
    {city: "Baltimore", country: {name: "United States", url: "/images/stamps/united_states.png"}},
   {city: "Bandung", country: {name: "Indonesia", url: "/images/stamps/indonesia.png"}},
   {city: "Bangalore", country: {name: "India", url: "/images/stamps/india.png"}},
   {city: "Bangkok", country: {name: "Thailand", url: "/images/stamps/thailand.png"}},
    {city: "Barranquilla", country: {name: "Colombia", url: "/images/stamps/colombia.png"}},
    {city: "Basel", country: {name: "Switzerland", url: "/images/stamps/switzerland.png"}},
    {city: "Baton Rouge", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Beijing", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Beirut", country: {name: "Lebanon", url: "/images/stamps/lebanon.png"}},
    {city: "Belo Horizonte", country: {name: "Brazil", url: "/images/stamps/brazil.png"}},
    {city: "Berlin", country: {name: "Germany", url: "/images/stamps/germany.png"}},
    {city: "Bhubaneswar", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Birmingham", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Bloomington-Normal", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Bogota", country: {name: "Colombia", url: "/images/stamps/colombia.png"}},
    {city: "Boise", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Bordeaux", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Boston", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Bowling Green", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Brasilia", country: {name: "Brazil", url: "/images/stamps/brazil.png"}},
    {city: "Bratislava", country: {name: "Slovakia", url: "/images/stamps/slovakia.png"}},
    {city: "Brisbane", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Bristol", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Brussels", country: {name: "Belgium", url: "/images/stamps/belgium.png"}},
    {city: "Bucharest", country: {name: "Romania", url: "/images/stamps/romania.png"}},
    {city: "Budapest", country: {name: "Hungary", url: "/images/stamps/hungary.png"}},
    {city: "Burlington", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Cairo", country: {name: "Egypt", url: "/images/stamps/egypt.png"}},
    {city: "Cali", country: {name: "Colombia", url: "/images/stamps/colombia.png"}},
    {city: "Cape Town", country: {name: "South Africa", url: "/images/stamps/south_africa.png"}},
    {city: "Casablanca", country: {name: "Morocco", url: "/images/stamps/morocco.png"}},
    {city: "Cedar Rapids", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Central Atlantic Coast", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Champaign", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Chandigarh", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Changsha", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Charleston", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Charlotte", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Charlottesville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Chattanooga", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Chengdu", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Chennai", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Chicago", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Chongqing", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Cincinnati", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Cleveland", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Coeur d'Alene", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Coimbatore", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "College Station", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Columbia, MO", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Columbia, SC", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Columbus", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Connecticut", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Copenhagen", country: {name: "Denmark", url: "/images/stamps/denmark.png"}},
    {city: "Corpus Christi", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Dallas-Forth Worth", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Dayton", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Delaware", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Denver", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Des Moines", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Detroit", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Doha", country: {name: "Qatar", url: "/images/stamps/qatar.png"}},
    {city: "Dubai", country: {name: "United Arab Emirates", url: "/images/stamps/united_arab_emirates.png"}},
    {city: "Dublin", country: {name: "Ireland", url: "/images/stamps/ireland.png"}},
    {city: "Durban", country: {name: "South Africa", url: "/images/stamps/south_africa.png"}},
    {city: "Dusseldorf", country: {name: "Germany", url: "/images/stamps/germany.png"}},
    {city: "Eastern Idaho", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Eastern North Carolina", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Eastern Province", country: {name: "Saudi Arabia", url: "/images/stamps/saudi_arabia.png"}},
    {city: "Edmonton", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Ekaterinburg", country: {name: "Russia", url: "/images/stamps/russia.png"}},
    {city: "El Paso", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Erie", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fargo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fayetteville, Arkansas", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fayetteville, North Carolina", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Flagstaff", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Flint", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Florence", country: {name: "Italy", url: "/images/stamps/italy.png"}},
    {city: "Florida Keys", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fort Myers-Naples", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fort Wayne", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Foshan", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Frankfurt", country: {name: "Germany", url: "/images/stamps/germany.png"}},
    {city: "Fresno", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Fukuoka", country: {name: "Japan", url: "/images/stamps/japan.png"}},
    {city: "Gainesville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Geelong", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Geneva", country: {name: "Switzerland", url: "/images/stamps/switzerland.png"}},
    {city: "Gold Coast", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Gothenburg", country: {name: "Sweden", url: "/images/stamps/sweden.png"}},
    {city: "Grand Rapids", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Greater Maine", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Greater Maryland", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Green Bay", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Greenville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Guadalajara", country: {name: "Mexico", url: "/images/stamps/mexico.png"}},
    {city: "Guangzhou", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Gulfport-Biloxi", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Guwahati", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Halifax", country: {name: "Canada", url: "/images/stamps/canada.png"}},
    {city: "Hamburg", country: {name: "Germany", url: "/images/stamps/germany.png"}},
    {city: "Hamilton", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Hampton Roads", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Hangzhou", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Hanoi", country: {name: "Vietnam", url: "/images/stamps/vietnam.png"}},
    {city: "Harrisburg", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Helsinki", country: {name: "Finland", url: "/images/stamps/finland.png"}},
    {city: "Honolulu", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Ho Chi Minh City", country: {name: "Vietnam", url: "/images/stamps/vietnam.png"}},
    {city: "Hong Kong", country: {name: "Hong Kong", url: "/images/stamps/hong_kong.png"}},
    {city: "Houston", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Hyderabad", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Indianapolis", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Indore", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Inland Empire", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Istanbul", country: {name: "Turkey", url: "/images/stamps/turkey.png"}},
    {city: "Jackson", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Jacksonville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Jaipur", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Jakarta", country: {name: "Indonesia", url: "/images/stamps/indonesia.png"}},
    {city: "Jeddah", country: {name: "Saudi Arabia", url: "/images/stamps/saudi_arabia.png"}},
    {city: "Jinan", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Johannesburg", country: {name: "South Africa", url: "/images/stamps/south_africa.png"}},
    {city: "Johor Bahru", country: {name: "Malaysia", url: "/images/stamps/malaysia.png"}},
    {city: "Kalamazoo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Kansas City", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Kazan", country: {name: "Russia", url: "/images/stamps/russia.png"}},
    {city: "Killeen", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Kitchener-Waterloo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Knoxville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Kochi", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Kolkata", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Krakow", country: {name: "Poland", url: "/images/stamps/poland.png"}},
    {city: "Kuala Lumpur", country: {name: "Malaysia", url: "/images/stamps/malaysia.png"}},
    {city: "Lafayette", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lagos", country: {name: "Nigeria", url: "/images/stamps/nigeria.png"}},
    {city: "Lancaster", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lansing", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "La Cruces", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Las Vegas", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lausanne", country: {name: "Switzerland", url: "/images/stamps/switzerland.png"}},
    {city: "Lawrence", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Leeds", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Lehigh Valley", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lexington", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lille", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Lima", country: {name: "Peru", url: "/images/stamps/peru.png"}},
    {city: "Lincoln", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lisbon", country: {name: "Portugal", url: "/images/stamps/portugal.png"}},
    {city: "Little Rock", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "London", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "London, ONT", country: {name: "Canada", url: "/images/stamps/canada.png"}},
    {city: "Los Angeles", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Louisville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lubbock", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Lyon", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Madison", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Manama", country: {name: "Bahrain", url: "/images/stamps/bahrain.png"}},
    {city: "Manchester", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Manhattan", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Manila", country: {name: "Philippines", url: "/images/stamps/philippines.png"}},
    {city: "Marseille", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Maui", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Medellin", country: {name: "Colombia", url: "/images/stamps/colombia.png"}},
    {city: "Melbourne", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Memphis", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Merseyside", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Mexico City", country: {name: "Mexico", url: "/images/stamps/mexico.png"}},
    {city: "Miami", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Midland", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Milan", country: {name: "Italy", url: "/images/stamps/italy.png"}},
    {city: "Milwaukee", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Minneapolis", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Mobile", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Modesto", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Monterrey", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Montreal", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Mornington Peninsula", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Moscow", country: {name: "Russia", url: "/images/stamps/russia.png"}},
    {city: "Mumbai", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Munich", country: {name: "Germany", url: "/images/stamps/germany.png"}},
    {city: "Myrtle Beach", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Mysore", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "NW Indiana", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Nagpur", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Nairobi", country: {name: "Kenya", url: "/images/stamps/kenya.png"}},
    {city: "Nantes", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Nashik", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Nashville", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Newcastle", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "New Delhi", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "New Hampshire", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "New Jersey", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "New Orleans", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "New York City", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Nice", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Ningbo", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Ocala", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Oklahoma City", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Omaha", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Oslo", country: {name: "Norway", url: "/images/stamps/norway.png"}},
    {city: "Orange County", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Orlando", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Ottawa", country: {name: "Canada", url: "/images/stamps/canada.png"}},
    {city: "Outer Banks", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Oxford", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Palm Springs", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Panama", country: {name: "Panama", url: "/images/stamps/panama.png"}},
    {city: "Paris", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Penang", country: {name: "Malaysia", url: "/images/stamps/malaysia.png"}},
    {city: "Pensacola", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Perth", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Philadelphia", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Phoenix", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Piedmont Triad", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Pittsburgh", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Portland", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Portland, ME", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Porto", country: {name: "Portugal", url: "/images/stamps/portugal.png"}},
    {city: "Prague", country: {name: "Czech Republic", url: "/images/stamps/czech_republic.png"}},
    {city: "Puebla", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Pune", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Qingdao", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Quad Cities", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Quebec City", country: {name: "Canada", url: "/images/stamps/canada.png"}},
    {city: "Queretaro", country: {name: "Mexico", url: "/images/stamps/mexico.png"}},
    {city: "Raleigh-Durham", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Reading", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Reno", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Rhode Island", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Richmond", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Rio de Janeiro", country: {name: "Brazil", url: "/images/stamps/brazil.png"}},
    {city: "Riyadh", country: {name: "Saudi Arabia", url: "/images/stamps/saudi_arabia.png"}},
    {city: "Roanoke-Blacksburg", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Rockford", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Rome", country: {name: "Italy", url: "/images/stamps/italy.png"}},
    {city: "Rotterdam", country: {name: "Netherlands", url: "/images/stamps/netherlands.png"}},
    {city: "Sacramento", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Saint Petersburg", country: {name: "Russia", url: "/images/stamps/russia.png"}},
    {city: "Salt Lake City", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "San Antonio", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "San Diego", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "San Francisco", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "San Jose", country: {name: "Costa Rica", url: "/images/stamps/costa_rica.png"}},
    {city: "San Louis Obispo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Santa Barbara", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Santa Fe", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Santiago", country: {name: "Chile", url: "/images/stamps/chile.png"}},
    {city: "Sao Paulo", country: {name: "Brazil", url: "/images/stamps/brazil.png"}},
    {city: "Sarasota", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Savannah-Hilton Head", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Seattle", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Seoul", country: {name: "South Korea", url: "/images/stamps/korea.png"}},
    {city: "Shanghai", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Sheffield", country: {name: "United Kingdom", url: "/images/stamps/united_kingdom.png"}},
    {city: "Shenzhen", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Singapore", country: {name: "Singapore", url: "/images/stamps/singapore.png"}},
    {city: "Sofia", country: {name: "Bulgaria", url: "/images/stamps/bulgaria.png"}},
    {city: "South Bend", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Spokane", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Springfield", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "St. Louis", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "State College", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Stillwater", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Stockholm", country: {name: "Sweden", url: "/images/stamps/sweden.png"}},
    {city: "Strasbourg", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Surat", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Suzhou", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Sydney", country: {name: "Australia", url: "/images/stamps/australia.png"}},
    {city: "Tacoma", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Taipei", country: {name: "Taiwan", url: "/images/stamps/taiwan.png"}},
    {city: "Tallahassee", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Tallinn", country: {name: "Estonia", url: "/images/stamps/estonia.png"}},
    {city: "Tampa", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Tel Aviv", country: {name: "Israel", url: "/images/stamps/israel.png"}},
    {city: "Thiruvananthapuram", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Tianjin", country: {name: "China", url: "/images/stamps/China.png"}},
    {city: "Tijuana", country: {name: "Mexico", url: "/images/stamps/mexico.png"}},
    {city: "Tokyo", country: {name: "Japan", url: "/images/stamps/japan.png"}},
    {city: "Toledo", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Topeka", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Toronto", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Toulouse", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Trojmiasto", country: {name: "Poland", url: "/images/stamps/poland.png"}},
    {city: "Tucson", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Tulsa", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Turin", country: {name: "Italy", url: "/images/stamps/italy.png"}},
    {city: "Tuscaloosa", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Vadodara", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Vancouver", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Ventura", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Vienna", country: {name: "Austria", url: "/images/stamps/austria.png"}},
    {city: "Visakhapatnam", country: {name: "India", url: "/images/stamps/India.png"}},
    {city: "Waco", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Warsaw", country: {name: "Poland", url: "/images/stamps/poland.png"}},
    {city: "Washington D.C.", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Wellington", country: {name: "New Zealand", url: "/images/stamps/new_zealand.png"}},
    {city: "Western Massachusettes", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Wichita", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Wilkes-Barre Scranton", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Wilmington", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Worcester", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Wuhan", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Xi'an", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Yantai", country: {name: "China", url: "/images/stamps/china.png"}},
    {city: "Yuma", country: {name: "United States", url: "/images/stamps/united_states.png"}},
    {city: "Zurich", country: {name: "Switzerland", url: "/images/stamps/switzerland.png"}}
  ]

// API FUNCTIONS

  function getTrips (event){
      $.get("/api/me", handleResults)
    }

    function handleResults(results) {
      results.forEach(displayTrips);
      // printTrips();
      uniqueCityArray.forEach(findCountryUrls);
      uniqueCityArray.forEach(findCountryNames);
      uniqueCountryNamesArray.forEach(addMapData);
      drawRegionsMap();
      uniqueCountryUrlsArray.forEach(displayStamp);
      findAllUrls();
      dedupeUrls();
      findNotVisited();
      notVisitedCountriesUrls.forEach(displayNotVisited);
      showCountryStats();
    }

// CITY FUNCTIONS

    function displayTrips(trip) {
      tripArray.push(trip.start_city.display_name);

      uniqueCityArray = tripArray.filter(function(elem, pos) {
        return tripArray.indexOf(elem) == pos;
        }); 

      console.log(tripArray)
      console.log(uniqueCityArray)
    }

    function printTrips(trip){
      for (i = 0; i < uniqueCityArray.length; i++) { 
        var tripList = document.querySelector("#list-trips");
        var newTrip = document.createElement("li");
        newTrip.textContent = uniqueCityArray[i];
        tripList.appendChild(newTrip);
    }
    }

// COUNTRY FUNCTIONS

// function findIndexByKeyValue: finds "key" key inside "ob" object that equals "value" value
// example: findIndexByKeyValue(students, 'name', "Jim");
// object: students = [
//    {name: 'John', age: 100, profession: 'Programmer'},
//    {name: 'Jim', age: 50, profession: 'Carpenter'}
// ];
// would find the index of "Jim" and return 1
 
  function findIndexByKeyValue(obj, key, value){
      for (var i = 0; i < obj.length; i++) {
          if (obj[i][key] == value) {
              return i;
          }
      }
      return null;
  }

// VISITED COUNTRIES

  function findCountryUrls(city) {

      var position = findIndexByKeyValue(mapCities, 'city', city);

      countryUrlsArray.push(mapCities[position].country.url);

      uniqueCountryUrlsArray = countryUrlsArray.filter(function(elem, pos) {
        return countryUrlsArray.indexOf(elem) == pos;
        }); 

      console.log(countryUrlsArray)
      console.log(uniqueCountryUrlsArray)
  } 

  function findCountryNames(city) {

      var position = findIndexByKeyValue(mapCities, 'city', city);

      countryNamesArray.push(mapCities[position].country.name);

      uniqueCountryNamesArray = countryNamesArray.filter(function(elem, pos) {
        return countryNamesArray.indexOf(elem) == pos;
        }); 

      console.log(countryNamesArray)
      console.log(uniqueCountryNamesArray)
  } 

  function displayStamp(stampUrl){
        var countryList = document.querySelector("#list-countries");
        var newCountry = document.createElement("img");
        newCountry.setAttribute("src", stampUrl);
        newCountry.setAttribute("height", 135);
        newCountry.setAttribute("width", 135);
        newCountry.classList.add("stamp");
      // toggle off class to make the stamps bold for visited
        countryList.appendChild(newCountry);
  }    

// ALL COUNTRIES
  
  function findAllUrls() {

    for (i = 0, len = mapCities.length; i < len; i++) { 
      allCountriesUrls.push(mapCities[i].country.url);

    }
      console.log(allCountriesUrls)
  } 

  function dedupeUrls(){
     allCountriesUrlsDeduped = allCountriesUrls.filter(function(elem, pos) {
        return allCountriesUrls.indexOf(elem) == pos;
        }); 
      console.log(allCountriesUrlsDeduped)
  }

  function displayNotVisited(stampUrl){
        var countryList = document.querySelector("#list-countries");
        var newCountry = document.createElement("img");
        newCountry.setAttribute("src", stampUrl);
        newCountry.setAttribute("height", 135);
        newCountry.setAttribute("width", 135);
        newCountry.classList.add("opaque", "stamp");
        countryList.appendChild(newCountry);
  } 

  function findNotVisited (){
    notVisitedCountriesUrls = allCountriesUrlsDeduped;
    notVisitedCountriesUrls = notVisitedCountriesUrls.filter( function( el ) {
      return uniqueCountryUrlsArray.indexOf( el ) < 0;
    } );
    console.log(notVisitedCountriesUrls)
  }

  function showCountryStats (){
    var numCountries = uniqueCountryNamesArray.length;
    var numCities = uniqueCityArray.length;
    var numTrips = tripArray.length;
    var statsBubble = document.querySelector(".stats");
    var addCountryStats = document.createElement("h1");
    var addCountryLabel = document.createElement("h2");
    var addCityStats = document.createElement("h1");
    var addCityLabel = document.createElement("h2");
    var addTripStats = document.createElement("h1");
    var addTripLabel = document.createElement("h2");

    addCountryStats.textContent = numCountries;
    addCountryLabel.textContent = 'COUNTRIES';

    addCityStats.textContent = numCities;
    addCityLabel.textContent = 'CITIES';

    addTripStats.textContent = numTrips;
    addTripLabel.textContent = 'TRIPS';

    statsBubble.appendChild(addCountryStats); 
    statsBubble.appendChild(addCountryLabel);
    statsBubble.appendChild(addCityStats); 
    statsBubble.appendChild(addCityLabel);
    statsBubble.appendChild(addTripStats); 
    statsBubble.appendChild(addTripLabel);
  }

  //   function showCountryStats (){
  //   var numCountries = uniqueCountryNamesArray.length;
  //   var statsBubble = document.querySelector(".stats-countries");
  //   var addCountryStats = document.createElement("h1");
  //   addCountryStats.textContent = numCountries;
  //   statsBubble.appendChild(addCountryStats); 
  // }

// Google Maps

var mapData = [];
mapData.push(['United States']);

function addMapData(country){
  mapData.push([country]);
}

google.load("visualization", "1", {packages:["geochart"]});
      // google.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Country');
        data.addRows(mapData);

        var options = {
          // colorAxis: {colors: ['#1fbad6', '1fbad6', '#1fbad6']},
          backgroundColor: '#09091A',
          datalessRegionColor: '#2E2E2E',
          defaultColor: '#1fbad6',
          legend: 'none',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('map-canvas'));
        chart.draw(data, options);

      };

// Side navbar http://bootsnipp.com/snippets/featured/fancy-sidebar-navigation

$(document).ready(function () {
  var trigger = $('.hamburger'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});

// Call functions

getTrips();


</script>
</head>




    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <div class="personal-info">
                      <img src="/images/avatar.jpg" class="avatar">
                     <div class="stats">
                     </div>
                  </div>
                </li>
            </ul>
                <div class="nav-bottom">
                    <!-- Twitter -->
                    <a href="http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>" target="_blank" class="share-btn twitter"><i class="fa fa-twitter"></i></a>

                    <!-- Google Plus -->
                    <a href="https://plus.google.com/share?url=<BTN>" target="_blank" class="share-btn google-plus"><i class="fa fa-google-plus"></i></a>

                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer/sharer.php?u=<URL>" target="_blank" class="share-btn facebook"><i class="fa fa-facebook"></i></a>
                </div>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button>
                <div class="row">

  <div id="map-canvas">
  </div>



</div>

<div class="row">
<div class="panel panel-default panel-transparent">
<div class="panel-body">
<ul id="list-countries">
</ul>
</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->

</html>




