
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>

<!-- Yield -->

<h1>Here is the trips page!</h1>

<!-- Bottom Nav -->

<div style="font-family: 'Open Sans', sans-serif; background-color: #09091A;">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="about">About</a></li>
          <li><a href="my-trips">Dashboard</a></li>
        </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-brand">
          <img src="/images/UBER_API_Badges_1x_28px.png">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

</body>
</html>