<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">

	var tripArray = [];
	var uniqueArray = [];
	var mapCities = [
    {city: "Athens, GR", country: {name: "Greece", url: "/images/stamps/greece.png"}},
    {city: "Houston", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}},
    {city: "Istanbul", country: {name: "Turkey", url: "/images/stamps/turkey.png"}},
    {city: "Los Angeles", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}},
    {city: "Lyon", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}},
    {city: "Madison", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}},
    {city: "New Delhi", country: {name: "India", url: "/images/stamps/india.png"}},
    {city: "Paris", country: {name: "France", url: "/images/stamps/france.png"}},
    {city: "Portland", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}},
	  {city: "San Francisco", country: {name: "United States", url: "/images/stamps/stamp_united_states.png"}}
	]

	function getTrips (event){
      $.get("/api/me", handleResults)
    }

    function handleResults(results) {
      results.forEach(displayTrips);
      printTrips();
      uniqueArray.forEach(displayCountry);
    }

    function displayTrips(trip) {
    	tripArray.push(trip.start_city.display_name);

    	uniqueArray = tripArray.filter(function(elem, pos) {
    		return tripArray.indexOf(elem) == pos;
  			}); 

    	console.log(tripArray)
    	console.log(uniqueArray)
    }

    function printTrips(trip){
    	for (i = 0; i < uniqueArray.length; i++) { 
    		var tripList = document.querySelector("#list-trips");
    		var newTrip = document.createElement("li");
    		newTrip.textContent = uniqueArray[i];
    		tripList.appendChild(newTrip);
		}
    }

// function findIndexByKeyValue: finds "key" key inside "ob" object that equals "value" value
// example: findIndexByKeyValue(students, 'name', "Jim");
// object: students = [
//    {name: 'John', age: 100, profession: 'Programmer'},
//    {name: 'Jim', age: 50, profession: 'Carpenter'}
// ];
// would find the index of "Jim" and return 1

 
	function findIndexByKeyValue(obj, key, value){
	    for (var i = 0; i < obj.length; i++) {
	        if (obj[i][key] == value) {
	            return i;
	        }
	    }
	    return null;
	}


  function displayCountry(cityName){
        var findCity = findIndexByKeyValue(mapCities, 'city', cityName);
        var countryList = document.querySelector("#list-countries");
        var newCountry = document.createElement("img");
        newCountry.setAttribute("src", mapCities[findCity].country.url);
      // toggle off class to make the stamps bold for visited
        countryList.appendChild(newCountry);
  }    

getTrips();


</script>

<h1>Here's the test page</h1>

<div>
<h2>De-duped Cities</h2>
<ul id="list-trips">
</ul>

<h2>Countries</h2>
<ul id="list-countries">
</ul>


</div>


