<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="share.min.js"></script>
<script type="text/javascript">
        Share.init(document.getElementsByTagName('a'), {
            title: 'social share',
            url: 'https://github.com/popomore/social-share'
        });
</script>
</head>

<h1>This is the test page</h1>

<div>
<ul id="list-products">
<li>Test</li>

</ul>
<a data-service="twitter">twitter</a>
<a data-service="facebook">facebook</a>

</div>
<div>
<h2><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Ftookmethere.herokuapp.com&amp;title=Took Me There - Your Uber Passport" rel="me" class="ss-icon ss-social-regular">Facebook</a></h2>
<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ftookmethere.herokuapp.com&text=Testing a sentence" target="_blank">Tweet</a>
</div>

<!-- from main
 -->
<!-- <body>
<div class="row">
  <div id="map-canvas">
  </div>
  <div class="personal-info">
      <img src="/images/avatar.jpg" class="avatar">
    <div class="show-stats">
      <div class="stats">
        <h1>STATS</h1>
      </div>
      <div class="stats-countries">
      </div>
    </div>
  </div>


</div>

<div class="row">
<div class="panel panel-default panel-transparent">
<div class="panel-body">
<ul id="list-countries">
</ul>
</div>
</body> -->


<!-- Social Button HTML -->

<!-- Twitter -->
<a href="http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>" target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
</a>

<!-- Google Plus -->
<a href="https://plus.google.com/share?url=<BTN>" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
</a>

<!-- Facebook -->
<a href="http://www.facebook.com/sharer/sharer.php?u=<URL>" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
</a>

